{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<section class="presentation">
    <div class="row presentation mt-5 mr-5 ml-5 mb-5">
        <div class="col d-flex flex-column justify-content-center align-items-center mt-lg-5 p-lg-4">
            <h2 class="text-uppercase mb-5 title--size">Présentation</h2>
            <p class="text-center mb-5 h4"><strong class="fw-bold">Développeur passionné </strong>depuis mon enfance, j'ai décidé d'effectuer une reconversion professionnelle en tant que <strong>développeur web</strong>. J'ai assimilé au cours de mon cursus la capacité de mener des projets depuis le cahier des charges jusqu'à la mise en ligne.</p>
            <p class="text-center mb-5 h4">Les différents soft-skills que j'ai acquis lors de ma précédente vie professionnelle, me permettent d'être à l'écoute de vos besoins en matière de <em>projets web</em>.Si vous le souhaitez, nous pouvons en parlez par
                <a class="link-color" href="#"> ici</a>.</p>
            <p class="text-center mb-5 h4">Besoin de voir <a class="link-color" href="#">mes réalisations</a> !!!</p>
            <p class="text-center h4">Vous souhaitez télécharger mon cv au format <a class="link-color" href="{{ asset('download/CV-Kevin-Bourisville.pdf') }}" download="CV-Kevin-Bourisville">PDF</a> ?</p>
        </div>
    </div>
</section>
<section class="services ml-n5 mr-n5 p-5 d-flex flex-column justify-content-center align-items-center">
    <div class="row">
       <div class="col-12 d-flex flex-column justify-content-center align-items-center">
           <h2 class="services-text--color text-uppercase title--size">Services</h2>
           <h3 class="services-text--color services-text--size">Mes prestations pour la <strong class="services-title--nobold">création de vos sites web</strong>, façonnés selon vos envies.</h3>
       </div>
    </div>
    <div class="row d-flex flex-row flex-lg-nowrap justify-content-between vw-100">
        <div class="col-12 col-lg-4 services-image mt-5"></div>
        <div class="col-12 col-lg-8 d-flex flex-row justify-content-around w-50 mt-5 pl-n3 pr-5">
            <ul class="services-list">
                <li class="h5 d-flex flex-row justify-content-start align-items-center">
                    <img src="{{ asset('image/icons/stylo-regle.png') }}" alt="icône composer d'un stylo et d'une règle pour représenter la Conception Graphique" class="w-25 mr-3">
                    <p class="mb-n2 text-nowrap">Conception graphique</p>
                </li>
                <li class="h5 d-flex flex-row justify-content-start align-items-center">
                    <img src="{{ asset('image/icons/reload-icons.png') }}" alt="icône de rechargement pour représenter le dynamisme" class="w-25 mr-3">
                    <p class="mb-n2 text-nowrap">Pages Dynamiques</p>
                </li>
                <li class="h5 d-flex flex-row justify-content-start align-items-center">
                    <img src="{{ asset('image/icons/admin-icon.png') }}" alt="icône représentant un administrateur" class="w-25 mr-3">
                    <p class="mb-n2 text-nowrap">Interface d'administration</p></li>
                <li class="h5 d-flex flex-row justify-content-start align-items-center">
                    <img src="{{ asset('image/icons/responsive-icon.png') }}" alt="icône montrant plusieurs écran pour représenter le responsive" class="w-25 mr-3">
                    <p class="mb-n2 text-nowrap">Responsive design</p>
                </li>
            </ul>
            <ul class="services-list">
                <li class="h5 d-flex flex-row justify-content-start align-items-center">
                    <img src="{{ asset('image/icons/web-icon.png') }}" alt="icône d'une fenêtre web pour représenter la gestion de projet web" class="w-25 mr-3">
                    <p class="mb-n2 text-nowrap">Gestion de projet Web </p>
                </li>
                <li class="h5 d-flex flex-row justify-content-start align-items-center">
                    <img src="{{ asset('image/icons/integration-icon.png') }}" alt="icône d'un style dans une fenêtre web pour représenter l'intégration web" class="w-25 mr-3">
                    <p class="mb-n2 text-nowrap">Intégration Web</p>
                </li>
                <li class="h5 d-flex flex-row justify-content-start align-items-center">
                    <img src="{{ asset('image/icons/api-icon.png') }}" alt="icône représentant une fenêtre web avec inscrit API à l'intérieur" class="w-25 mr-3">
                    <p class="mb-n2 text-nowrap">Développement API</p>
                </li>
                <li class="h5 d-flex flex-row justify-content-start align-items-center">
                    <img src="{{ asset('image/icons/maintenance-icon.png') }}" alt="icône symbolisant la maintenance" class="w-25 mr-3">
                    <p class="mb-n2 text-nowrap">Maintenance</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="p-5">
    <div class="row mb-5">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h2 class="presentation text-uppercase title--size">Compétences</h2>
            <h3 class="subtitle--color services-text--size">Mes compétences à votre service</h3>
        </div>
    </div>
    <div class="row p-3 p-lg-0">
        <div class="col-12 col-lg-6">
            <div class="progress mb-3 skill-bgProgressbar" style="height: 3em">
                <div class="progress-bar skill-progressbar--html d-flex flex-row justify-content-between align-items-center p-2" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                    <div class="d-flex flex-row justify-content-around align-items-center p-3">
                        <i class="fab fa-html5 mr-3"></i>
                        <p class="text-uppercase m-0">html</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end align-items-center p-3">
                        <p class="m-0">94%</p>
                    </div>
                </div>
            </div>
            <div class="progress mb-3 skill-bgProgressbar" style="height: 3em">
                <div class="progress-bar skill-progressbar--css d-flex flex-row justify-content-between align-items-center p-2" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <div class="d-flex flex-row justify-content-around align-items-center p-3">
                        <i class="fab fa-css3 mr-3"></i>
                        <p class="text-uppercase m-0">css</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end align-items-center p-3">
                        <p class="m-0">90%</p>
                    </div>
                </div>
            </div>
            <div class="progress mb-3 skill-bgProgressbar" style="height: 3em">
                <div class="progress-bar skill-progressbar--php d-flex flex-row justify-content-between align-items-center p-2" role="progressbar" style="width: 79%" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100">
                    <div class="d-flex flex-row justify-content-around align-items-center p-3">
                        <i class="fab fa-php mr-3"></i>
                        <p class="text-uppercase m-0">php</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end align-items-center p-3">
                        <p class="m-0">79%</p>
                    </div>
                </div>
            </div>
            <div class="progress mb-3 skill-bgProgressbar" style="height: 3em">
                <div class="progress-bar progress-bar skill-progressbar--symfony d-flex flex-row justify-content-between align-items-center p-2" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="d-flex flex-row justify-content-around align-items-center p-3">
                        <i class="fab fa-symfony mr-3"></i>
                        <p class="text-uppercase m-0">symfony</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end align-items-center p-3">
                        <p class="m-0">70%</p>
                    </div>
                </div>
            </div>
            <div class="progress mb-3 skill-bgProgressbar" style="height: 3em">
                <div class="progress-bar skill-progressbar--sql d-flex flex-row justify-content-between align-items-center p-2" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <div class="d-flex flex-row justify-content-around align-items-center p-3">
                        <i class="fas fa-database mr-3"></i>
                        <p class="text-uppercase m-0">mysql</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end align-items-center p-3">
                        <p class="m-0">70%</p>
                    </div>
                </div>
            </div>
            <div class="progress mb-3 skill-bgProgressbar" style="height: 3em">
                <div class="progress-bar progress-bar skill-progressbar--js d-flex flex-row justify-content-between align-items-center p-2" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="d-flex flex-row justify-content-around align-items-center p-3">
                        <i class="fab fa-js mr-3"></i>
                        <p class="text-uppercase m-0">javascript</p>
                        <p class=" pl-1 m-0">("vanilla")</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end align-items-center p-3">
                        <p class="m-0">60%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="presentation col-12 col-lg-6">
            <ul>
                <li class="d-flex flex-column justify-content-center">
                    <p class="h4 mb-1"><i class="fas fa-hand-point-right pr-3"></i>Interface d'administration</p>
                    <p class="text-uppercase ml-5"><abbr title="Hypertext Preprocessor">php</abbr> - Symfony - <abbr title="My Structured Query Langage">mysql</abbr> - <abbr title="Asynchronous JavaScript and XML">ajax</abbr></p>
                </li>
                <li class="d-flex flex-column justify-content-center">
                    <p class="h4 mb-1"><i class="fas fa-hand-point-right pr-3"></i>Intégration de vos maquettes</p>
                    <p class="ml-5">En respectant les recommandations des bonnes pratiques du Web</p>
                </li>
                <li class="d-flex flex-column justify-content-center">
                    <p class="h4 mb-1"><i class="fas fa-hand-point-right pr-3"></i>Référencement naturel <strong class="text-uppercase"><abbr title="Search Engine Optimisation">seo</abbr></strong></p>
                    <p class="ml-5">Accessibilité et ergonomie grâce au bonne pratique Opquast, <abbr class="text-uppercase" title="World Wide Web Consortium">w3c</abbr> et
                        <abbr class="text-uppercase" title="Web Accessibility Initiative">wai</abbr></p>
                </li>
                <li class="d-flex flex-column justify-content-center">
                    <p class="h4 mb-1"><i class="fas fa-hand-point-right pr-3"></i>Responsive web design</p>
                    <p class="ml-5">Afin que votre site reste visible quelque soit l'appareil</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="services ml-n5 mr-n5 p-5">
    {# Start title zone #}
    <div class="row">
        <div class="col col-lg-12 d-flex flex-column justify-content-center align-items-center">
            <h2 class="services-text--color text-uppercase title--size">Mes projets</h2>
            <h3 class="services-text--color services-text--size">Mes 5 dernières réalisations</h3>
        </div>
    </div>
    {# End title zone #}
    {# Start filter zone #}
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <ul class="services-list d-flex flex-row justify-content-between align-items-center mt-3">
                <li class="mr-5">Tous</li>
                <li class="mr-5">PHP</li>
                <li class="mr-5">Symfony</li>
                <li class="mr-5">Bootstrap</li>
                <li class="mr-5">JavaScript</li>
            </ul>
        </div>
    </div>
    {# End filter zone #}
    {# Start project zone #}
    <div class="row">
        <div id="project-crocs" class="col col-lg-4 card">
            <img src="{{ asset('image/screen-project/impr-les-crocs.png') }}" alt="" class="card-img-top">
        </div>
    </div>
    {# End project zone #}
</section>
{% endblock %}
